<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="{{ site.baseurl }}/contact">CONTACT</a></li>
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="{{ site.baseurl }}/blog">BLOG</a></li>
            <li><a href="#">TERMS</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
